/* ============================================================
  SECTIONS
============================================================ */

/* colors */
.white{
  background-color: white;
}
.lightblue {
  background-color: lightblue;
}
.black{
  background-color: black;
}

/* parallax css */
section.module{
  opacity: 0;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  /*margin-bottom: 40px;*/
  /*font-size: 16px;*/
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 10px 0;
}
section.module.parallax {
  /*padding: 0 0;*/
  /*background-position: 0 0;*/
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.banner {
  margin-top: 168px;
  background-image: url(../../images/GV_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}

@media all and (min-width: 600px) {
  section.module h2 {
    /*font-size: 42px;*/
  }
  /*section.module p {*/
    /*font-size: 20px;*/
  /*}*/
  section.module.parallax {
    padding: 0px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
