/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml

# IDE
.iml

# Mac_OSX
*/.DS_Store

# this is the laravel key file
.env

# ignore composer's record
composer.lock

# ignore user uploading pictures
/public/images/event_images/*.*
!/public/images/event_images/default.png