
.spacer{
    margin-top: 250px;
}


/*
    wraps all divs with that grey border
*/
#account_container div {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

/*
    The main container that holds the form.
*/
#account_container {
    background-color: #f2f2f2;
    top: 100px;
    width: 50%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 100px;
}

/*
    This styles the buttons at the bottom
*/

#account_container button{

    font-size: 20px;
    padding: 10px;
    width: 250px;

    background-color: #e78011;
    border-radius: 10px;
    border-color: #e78011;
    color: white;
    font-weight: bold;
    margin: 1% 0 1% 0;
}

/*
    This container centers the buttons 'reset' and 'edit'
*/
#button-group{
    text-align: center;
}

/*
    This styles the delete button and achors the button to the right
*/
#account_container .delete-button {

    font-size: 15px;
    padding: 10px;
    width: 77px;

    background-color: #CC0000;
    border-radius: 10px;
    border-color: #CC0000;
    color: white;
    font-weight: bold;

    float:right;
}

/*
    This pushes the phone number down a little bit, so that it's centered.
*/
#account_container .phone-number{
    position: relative;
    bottom: 10px;
}

/*
    This pushes the phone number down a little bit, so that it's centered.
*/
#account_container .dob{
    position: relative;
    top: 10px;
}
